@use 'variables' as *;

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato', sans-serif;
  background-color: var(--color-background-white);
  color: #424551;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
  border: none;
  background: none;
  font-family: inherit;
  padding: 0;
}

.container {
  width: min(100% - 30px, #{$container-max});
  margin-inline: auto;
}

.visually-hidden {
  position: absolute !important;
  height: 1px; width: 1px; overflow: hidden; clip: rect(1px, 1px, 1px, 1px);
}

.hidden {
    display: none !important;
}
