@use 'variables' as *;

.courses {
  position: relative;
  overflow: hidden;
  padding-block: clamp(48px, 8vw, 120px);

  &__container {
    width: min(100% - 30px, #{$container-max});
    margin-inline: auto;
  }

  &__deco {
    position: absolute;
    z-index: -1;
    user-select: none;
    opacity: 0.2;

    &--shape1 {
      width:83px;
      height: 44px;
      top: 737px;
      left: 111px;
      opacity: 1;
    }
    &--shape2 {
      width: 162px;
      height: 176px;
      top: 50px;
      right: -1px;
      opacity: 0.8;
    }
    &--cursor {
      width: 85px;
      height: 85px;
      top: 1109px;
      right: 80px;
      opacity: 1;
    }
  }

  &__header {
    text-align: center;
    margin-bottom: clamp(24px, 6vw, 60px);
  }

  &__subtitle {
    margin: 0 0 8px 0;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: var(--color-text-primary);
  }

  &__title {
    margin: 0;
    font-weight: 900;
    font-size: clamp(28px, 4vw, 46px);
    line-height: 1.3;
    color: var(--color-text-primary);
  }

  &__grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: $gap;
    align-items: flex-start;
  }

  &__footer {
    text-align: center;
    margin-top: clamp(40px, 8vw, 80px);
  }

  &__load-more {
    display: inline-flex;
    align-items: center;
    gap: 16px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.6;
    color: var(--color-text-primary);
    transition: opacity 0.3s;
    &:hover {
      opacity: 0.8;
    }
  }
}

.filters {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 20px clamp(20px, 4vw, 40px);
  margin-bottom: clamp(24px, 6vw, 60px);
}

.tabs__list {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.search {
  width: min(100%, 315px);
  position: relative;

  &__input {
    width: 100%;
    height: 44px;
    padding: 0 45px 0 16px;
    border: 1px solid var(--color-border-input);
    border-radius: $radius;
    font-size: 14px;
    color: var(--color-text-tertiary);
    &::placeholder {
      color: var(--color-text-tertiary);
    }

    &::-webkit-search-decoration,
    &::-webkit-search-cancel-button,
    &::-webkit-search-results-button,
    &::-webkit-search-results-decoration {
      -webkit-appearance: none;
      display: none;
    }
  }

  &__button {
    position: absolute;
    inset-block-start: 50%;
    inset-inline-end: 14px;
    transform: translateY(-50%);
    display: flex;
  }
}
